In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import gender

In [85]:
data = pd.read_csv('../source_data/train.csv')
data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [86]:
home_planet = data['HomePlanet'].value_counts(dropna=False)
home_planet

HomePlanet
Earth     4602
Europa    2131
Mars      1759
NaN        201
Name: count, dtype: int64

#### Step 1 - Filling the missing values in the `HomePlanet` feature
##### Criterion: if the passengers are in the same cabin and at least one of them has a `HomePlanet` value

In [87]:
training_set = data
training_set

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [90]:
training_set.loc[training_set['PassengerId'] == '2384_07', 'HomePlanet'] = 'Earth'
training_set.loc[training_set['PassengerId'] == '2384_07', 'Cabin'] = 'C/86/S'

training_set.loc[training_set['PassengerId'] == '2404_04', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '2505_01', 'HomePlanet'] = 'Earth'
training_set.loc[training_set['PassengerId'] == '2506_01', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '2597_02', 'HomePlanet'] = 'Mars'
training_set.loc[training_set['PassengerId'] == '2730_01', 'HomePlanet'] = 'Earth'
training_set.loc[training_set['PassengerId'] == '2799_02', 'HomePlanet'] = 'Earth'
training_set.loc[training_set['PassengerId'] == '2822_01', 'HomePlanet'] = 'Earth'
training_set.loc[training_set['PassengerId'] == '2822_05', 'HomePlanet'] = 'Earth'
training_set.loc[training_set['PassengerId'] == '3131_03', 'HomePlanet'] = 'Earth'
training_set.loc[training_set['PassengerId'] == '3439_03', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '3703_01', 'HomePlanet'] = 'Mars'
training_set.loc[training_set['PassengerId'] == '4030_01', 'HomePlanet'] = 'Earth'
training_set.loc[training_set['PassengerId'] == '4172_03', 'HomePlanet'] = 'Mars'
training_set.loc[training_set['PassengerId'] == '4207_01', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '4216_02', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '4371_03', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '4625_06', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '4655_02', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '4822_03', 'HomePlanet'] = 'Mars'
training_set.loc[training_set['PassengerId'] == '4933_02', 'HomePlanet'] = 'Mars'
training_set.loc[training_set['PassengerId'] == '5090_03', 'HomePlanet'] = 'Earth'
training_set.loc[training_set['PassengerId'] == '5367_02', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '5427_01', 'HomePlanet'] = 'Mars'
training_set.loc[training_set['PassengerId'] == '5465_02', 'HomePlanet'] = 'Mars'
training_set.loc[training_set['PassengerId'] == '5684_01', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '5981_02', 'HomePlanet'] = 'Mars'
training_set.loc[training_set['PassengerId'] == '6036_02', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '6263_02', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '6313_02', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '6363_02', 'HomePlanet'] = 'Earth'
training_set.loc[training_set['PassengerId'] == '6402_05', 'HomePlanet'] = 'Earth'
training_set.loc[training_set['PassengerId'] == '6490_04', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '6512_02', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '6561_02', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '6810_04', 'HomePlanet'] = 'Mars'
training_set.loc[training_set['PassengerId'] == '6954_02', 'HomePlanet'] = 'Mars'
training_set.loc[training_set['PassengerId'] == '6992_01', 'HomePlanet'] = 'Earth'
training_set.loc[training_set['PassengerId'] == '7104_01', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '7584_03', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '7584_01', 'Destination'] = 'TRAPPIST-1e'
training_set.loc[training_set['PassengerId'] == '7703_02', 'HomePlanet'] = 'Earth'
training_set.loc[training_set['PassengerId'] == '7790_01', 'HomePlanet'] = 'Mars'
training_set.loc[training_set['PassengerId'] == '7830_04', 'HomePlanet'] = 'Earth'
training_set.loc[training_set['PassengerId'] == '7853_01', 'HomePlanet'] = 'Mars'
training_set.loc[training_set['PassengerId'] == '7873_01', 'HomePlanet'] = 'Earth'
training_set.loc[training_set['PassengerId'] == '7950_01', 'HomePlanet'] = 'Earth'
training_set.loc[training_set['PassengerId'] == '8202_03', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '8314_02', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '8637_01', 'HomePlanet'] = 'Mars'
training_set.loc[training_set['PassengerId'] == '8816_02', 'HomePlanet'] = 'Europa'
training_set.loc[training_set['PassengerId'] == '8860_02', 'HomePlanet'] = 'Mars'
training_set.loc[training_set['PassengerId'] == '8938_01', 'HomePlanet'] = 'Mars'
training_set.loc[training_set['PassengerId'] == '9072_01', 'HomePlanet'] = 'Mars'
training_set.loc[training_set['PassengerId'] == '9194_01', 'HomePlanet'] = 'Europa'
training_set

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True